body {
    background-color: #E2E6E9;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

label { font-weight: 500; }

form { color: #808080; }

.btn.btn-primary { background-color: #3F51B5 }

#box-login {
    width: 390px;
    height: 380px;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 40px;
    right: 0px;
    background-color: white;
    padding: 45px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.82);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.82);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.82);
}

h1.titulo-login {
    color: #8096A2;
    top: -5px;
    display: block;
    height: 71px;
    margin: auto auto;
    position: relative;
}

#msgErroLogin {
    z-index: 1;
    min-width: 264px;
    width:25%;
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
    margin: 0 auto;
    text-align: center;
}

.fa-ban { padding-right: 10%; }

.col-xs-10 {
    padding-right: 13px;
    padding-left: 10px;
}

#lblSenha {
    margin-bottom: 6px;
    margin-top: 1px;
}


html{
    position: relative;
    min-height: 100%;
/***desabilita a seleção de texto (ctrl+A) por exemplo***/
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
/*********************************/
}

.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.footer
{
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    font-size: 12px;
    line-height: normal;
    background: #95a8af;
    border-top: 4px solid #3F51B5;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s;
}

.aplicacao_geral
{
    padding-top: 30px;
    page-content: static;
}

.p_footer {
    float: left;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 7px;
}

.logofooter { float: right; }

.links_footer {
    float: left;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 7px;
    padding-right: 15px;
    padding-left: 15px;
}

.img-logo-footer
{
    margin-left: 30px;
    margin-top: 5px;
}

/* RODAPÉ */

footer {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 8px 25px;
    background-color: #929ba2;
    border-top: 2px solid  #3F51B5;
    color: #fff;
    font-size: 14px;
}

footer .contato {
    float: right;
    margin-top: 0px;
}

footer .logo {
    float: right;
    margin-left: 15px;
}

footer div { margin-top: 8px; }

footer .logo-mobile {
    text-align: center;
    display: none;
    margin-top: 8px;
}

@media screen and (max-width: 767px) {
    footer .logo-mobile { display: block; }
}

footer a,
footer a:hover { color: #fff; }

/* FIM RODAPÉ */

.ui-select-pequeno { width: 180px; }

/*----------------Classes genéricas-------------*/
.borda-right { border-right: 1px solid #ffffff; }

.retira_borda { border-radius: 0 !important; }

.offset-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.offset-0-right { padding-right: 0 !important; }

/*--------------------------------------------@medias----------------------------------------------*/
@media screen and (min-width: 1250px) {
    .aplicacao_geral,
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (max-width: 991px) {
    .footer {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .aplicacao_geral {
        padding-left: 15px;
        padding-right: 15px;
    }

    .p_footer { display: none; }

    .links_footer { display: none; }

    .logofooter {
        width: 100%;
        text-align: center;
    }

    .img-logo-footer { margin-left: 0; }
}

@media screen and (max-width: 479px) {

    .footer {
        display: block;
        margin-bottom: 0;
    }

}

@media screen and (max-height: 365px) {

    .footer { margin-bottom: -100px; }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    .p_footer { display: none; }
}

@media only  screen and (max-width: 1250px) and (min-width: 990px) {
    .aplicacao_geral,
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        background-image: url("../img/fundo_gestao.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/opensans-condlight-webfont.eot');
    src: url('../fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condlight-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condlight-webfont.woff') format('woff'),
         url('../fonts/opensans-condlight-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Open Sans Condensed';
        src: url('../fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    }
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 21px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -16px; }

label.css-label {
    background-image: url('../img/checkbox.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
