.wrapper-tabela { width: 300px; }

/* CSS Padrão dos sistemas */
* { outline: none; }

body {
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
    color: #333;
    background-color: #F9F9F9;
}

/* CSS para manter rodapé fixo */

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#app-body {
	min-height:100%;
	position:relative;
}

main {
    padding-top: 50px;
	padding-bottom:60px;
}

/* Fim do CSS para manter rodapé fixo */

.modal-alterdata .modal-content { border-radius: 0px; }

.modal-alterdata .modal-header {
    background-color: #3a4b58;
    color: #fff;
}

.modal-alterdata .modal-header .close span {
    color: #fff;
    font-size: 24px;
}

.btn { border-radius: 2px; }

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus { text-decoration: none; }

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled,
.btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn.btn-sm { font-size: 12px; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Atualmente suportado em todos os browsers atuais */
}

label { font-weight: 500; }

input[type="radio"],
input[type="checkbox"] { cursor: pointer; }

.input-group.date input ~ .glyphicon-calendar:hover { cursor: pointer; }

.full-width { width: 100%; }

.font-sm { font-size: 12px; }

main.corpo.container { width: 98%; }

/* Navbar Superior */

header .navbar-default {
    background-color: #3C8DBC;
    color: #fff;
    border: none;
    font-size: 14px;
}

header .container-fluid {
    padding: 0px 15px;
}

.navbar-header {
    float: left;
    height: 50px;
}

.navbar-header .titulo {
    color: #fff;
    transform: translateY(-50%);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 24px;
}

#ul-menu-usuario {
    margin: 0;
}

#dropdownUsuario {
    padding: 15px;
    color: #fff;
}

.navbar-default .navbar-nav > .open > a {
    background-color: rgba(255,255,255,0.1);
}

.navbar-default .navbar-nav > .open > a:hover {
    background-color: rgba(255,255,255, 0.2);
}

.navbar-nav .open .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
}

/* Configurações do Rodapé */

footer {
	position:absolute;
    height: 60px;
    width:100%;
	bottom:0;
	left:0;
    padding: 12px 30px 12px 17px;
    background-color: #929ba2;
    border-top: 2px solid #253746;
    color: #fff;
    font-size: 14px;
}

footer .contato {
    float: right;
    margin-top: 0px;
}

footer .logo {
    float: right;
    margin-left: 15px;
}

footer div {
    margin-top: 8px;
}

footer .logo-mobile {
    text-align: center;
    display: none;
    margin-top: 8px;
}

footer a,
footer a:hover { color: #fff; }