<template>
  <div id="app-body">
    <default-header 
        url-home='/' 
        titulo='Alterdata Votador' 
        :login='usuario.login' 
        url-logout='/logout'
        :urls='urls'>
    </default-header>
    <main class="corpo">
    <router-view  :usuario ='usuario' />
    </main>
    <default-footer></default-footer>
  </div>
</template>

<script>
import 'bootstrap3/dist/css/bootstrap.min.css'
import 'bootstrap3/dist/js/bootstrap.min.js'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import { mapState } from 'vuex'
import routes from '@/router/routes'

const computed = {
    urls() {
        return routes.paths.filter(r => r.displayOnNavbar);
    }
}

export default {
  name: 'App',
  computed: Object.assign({}, mapState({ usuario: s => s.usuario.usuario }), computed),
  components: {
    'default-header': Header,
    'default-footer': Footer
  },
  mounted () {
      this.$store.dispatch('usuario/obterLogado');
  },

}
</script>

<style lang="scss">
// Cada componente deve conter suas próprias variáveis caso o css esteja em scoped.
// Não compartilhar css com os componentes, deixar o componente todo encapsulado.

 $cor_primaria:#3F51B5;
 $cor_fundo: #F9F9F9;

* { outline: none; }
/* Estilização para o sistema */

// .form-group,
// .form-group.login-funcionario { width: 100%; }

// input[type=text],
// input[type=number],
// input[type=date],
// input[type=tel],
// select,
// input[type=button] {
//     height: 34px !important;
//     font-size: 13px !important;
//     border-radius: 0 !important;
// }

// textarea {
//     height: 34px;
//     font-size: 13px;
//     border-radius: 0 !important;
// }

// textarea:focus {
//     border: 1px solid $cor_primaria !important;
//     box-shadow: none !important;
// }

// input[type=text]:focus,
// input[type=number]:focus,
// input[type=date]:focus,
// input[type=tel]:focus,
// select:focus,
// textarea:focus,
// .input-data:focus {
//     border: 1px solid $cor_primaria !important;
//     box-shadow: none !important;
// }

// .dropdown-menu > .active > a,
// .dropdown-menu > .active > a:focus,
// .dropdown-menu > .active > a:hover {
//     background-color: $cor_primaria;
// }

// /* Fim Estilização para o sistema */

body {
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    color: #333;
    background-color: $cor_fundo;
}

/* CSS para manter rodapé fixo */

html,
body {
    margin: 0;
    padding: 0;
    // max-height: 90%;
}

#app-body {
    max-height: 80%;
    position: relative;
}

main { padding-bottom: 60px; }
h4 { font-size: 20px; }
label { font-weight: 500; }

/* Conteúdo do Sistema */

.corpo {
    margin-top: 58px;
    padding: 12px;
    padding-bottom: 60px;
    height: 100%;
}


.wrapper-conteudo {
    margin: 0 auto;
    width: 90%;
    margin-top: 36px;
}
</style>
