<template>
    <div>
        <h1>{{ msg }}</h1><br>
          <GChart
            type="ColumnChart"
            :data="chartData"
            :options="chartOptions"
          />
    </div>
</template>

<script>
import { GChart } from 'vue-google-charts'
export default {
  data() {
      return {
          msg: 'Página de Consulta!',
          chartData: [
            ['Year', 'Sales', 'Expenses', 'Profit'],
            ['2014', 1000, 400, 200],
            ['2015', 1170, 460, 250],
            ['2016', 660, 1120, 300],
            ['2017', 1030, 540, 350]
          ],
          chartOptions: {
            chart: {
              title: 'Company Performance',
              subtitle: 'Sales, Expenses, and Profit: 2014-2017',
            }
          }

      }
  },
  components: {
    GChart
  }
}
</script>

<style lang="scss" scoped>
//variáveis
$margin: 60px;
$color: #777;
$tamanho: 80px;

//mixins do sistema
@mixin helloword{
    position: relative;
    margin-top: $margin;
    text-align: center;
}

//placeholder
%helloword{
    position: relative;
    margin-top: $margin;
    text-align: center;
    color: $color;
    font-size: $tamanho !important;
}

h1 {
   @include helloword();
}
p {
    @extend %helloword;
}

.application--wrap{
  min-height: 0vh !important;
  background-color: red;
}
</style>


