<template>
    <footer>
        <div class="pull-left hidden-xs">
            <span>© 1989-<span>{{ anoAtual() }}</span> - Alterdata Software - Direitos Reservados</span>
        </div>
        <div class="hidden-xs">
            <a href="http://alterdata.com.br" target="_blank" class="logo">
                <img src="/Content/img/logo_branco.png">
            </a>
            <div class="contato">
                <a href="http://www.alterdata.com.br/contato" target="_blank">
                <span>Contato</span>
                </a>&nbsp;<span>|</span>&nbsp;
                <a href="http://cliente.alterdata.com.br/LoginCentral.aspx" target="_blank">
                    <span>Suporte</span>
                </a>
            </div>
        </div>
        <a href="http://alterdata.com.br" target="_blank" class="logo-mobile">
            <img src="/Content/img/logo_branco.png">
        </a>
    </footer>
</template>

<script>
export default {
  methods: {
    anoAtual() {
        return new Date().getFullYear();
    }
  }
}
</script>

<style lang="scss" scoped>
// Variáveis do sistema
$cor_primaria:#3F51B5;
$color: #fff;

footer {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 8px 25px;
    background-color: #929ba2;
    border-top: 2px solid $cor_primaria;
    color: $color;
    font-size: 14px;
}

footer .contato {
    float: right;
    margin-top: 0px;
}

footer .logo {
    float: right;
    margin-left: 15px;
}

footer div { margin-top: 8px; }

footer .logo-mobile {
    text-align: center;
    display: none;
    margin-top: 8px;
}

footer a,
footer a:hover { color: $color; }

@media screen and (max-width: 767px) {
    footer .logo-mobile { display: block; }
}
</style>

