<template>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div id="navbar-top-header" class="navbar-header">
                    <a :href="urlHome">
                        <h3 class="titulo">{{ titulo }}</h3>
                    </a>
                </div>
                <div>
                    <nav v-if="urls && urls.length" class="navegacao">
                        <router-link 
                            v-for="url in urls" 
                            :to="url.path" 
                            :key="url.name"
                            active-class='pagina-atual'>{{ url.name }}</router-link>
                    </nav>
                </div>
                <div class="navbar-header pull-right">
                    <ul id="ul-menu-usuario" class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="dropdownUsuario" role="button" class="dropdown-toggle">
                                <span id="labelLoginUsuario"></span>
                                <span>{{ login }}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a :href="urlLogout">logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
export default {
  props: [ 'urlHome', 'titulo', 'login', 'urlLogout', 'urls' ]
}
</script>

<style lang="scss" scoped>

// Variáveis do sistema
$cor_primaria:#3F51B5;
$color: #fff;

nav.navegacao {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

nav.navegacao a:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
}

nav.navegacao a.pagina-atual { background-color: rgba(255,255,255,0.2); }

nav.navegacao a {
    color: $color;
    font-size: 15px;
    display: inline-block;
    padding: 15px;
    height: 100%;
}

nav.navegacao a:hover { text-decoration: none; }

header .navbar-default {
    background-color: $cor-primaria;
    color: $color;
    border: none;
    font-size: 14px;
    box-shadow:0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
}

header .container-fluid { padding: 0px 25px; }

.navbar-header {
    float: left;
    height: 50px;
}

.navbar-header a:hover { text-decoration: none; }

.navbar-header .titulo {
    color: $color;
    transform: translateY(-50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 24px;
}

#ul-menu-usuario { margin: 0; }

#dropdownUsuario {
    padding: 15px;
    margin-right: -15px;
    color: $color;
}

.navbar-default .navbar-nav > .open > a { background-color: rgba(255,255,255,0.1); }

.navbar-default .navbar-nav > .open > a:hover { background-color: rgba(255,255,255, 0.2); }

.navbar-nav .open .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    background-color: $color;
    margin-right: -16px;
}

.dropdown-menu { border: 1px solid #EAEAEA; }

@media screen and (max-width: 767px) {

    header .container-fluid { padding-left: 12px; }

    /* O Header cola na tela para mobile, forço a margem a ficar como estava. */
    .container-fluid > .navbar-header { margin-left: 0px; }
}
</style>
