<template>
  <div>
    <v-app id="inspire">
    <div>
      <!-- incio do snackbar -->
        <v-snackbar
        v-model="snackbar"
        :bottom="y === 'bottom'"
        :left="x === 'left'"
        :multi-line="mode === 'multi-line'"
        :right="x === 'right'"
        :timeout="timeout"
        :top="y === 'top'"
        :vertical="mode === 'vertical'"
        absolute
      >
        {{ text }}
        <v-btn
          color="pink"
          flat
          @click="snackbar = false"
        >
          Fechar
        </v-btn>
      </v-snackbar>

      <!-- fim do snackkbar -->

        <!-- Inicio do toolbar da tabela-->
        <v-toolbar flat color="white">
            <v-toolbar-title>{{ titletable }}</v-toolbar-title>
            <v-divider
                class="mx-2"
                inset
                vertical
            ></v-divider>

            <!-- Inicio da Pesquisa -->
            <v-spacer></v-spacer>
            <v-text-field
                v-model="search"
                append-icon="search"
                label="Pesquisar"
                single-line
                hide-details
            ></v-text-field>
            <!-- Fim da Pesquisa -->
            
            <!-- Inicio do Modal -->
            <v-dialog v-model="dialog" max-width="700px">
                <v-card>
                <v-card-title      
                    class="headline color-title lighten-2"
                    primary-title
                >
                  <span class="headline">{{ formTitle }}</span>

                </v-card-title>

                <v-card-text>
                    <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12 sm6 md4>
                          <v-text-field readonly v-model="editedItem.quantidadeVotos" label="Votos"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field readonly v-model="editedItem.codigoProcesso" label="Código do processo"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field readonly v-model="editedItem.nomeProduto" label="Produto"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm12 md12>
                          <v-text-field readonly v-model="editedItem.descricao" label="Descrição"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm12 md12>
                          <v-textarea readonly rows="2" v-model="editedItem.detalhes" label="Detalhes" ></v-textarea>
                        </v-flex>
                        <v-flex xs12 sm12 md12>
                          <v-textarea rows="2" v-model="comentario" label="Comentar voto" ></v-textarea>
                        </v-flex>
                    </v-layout>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn-principal" flat @click="votar">Confirmar</v-btn>
                    <v-btn class="btn-modal" flat @click="close">Cancelar</v-btn>
                </v-card-actions>
                </v-card>
            </v-dialog>
            <!-- Fim do Modal -->

        </v-toolbar>
        <!-- Fim do toolbar da tabela-->

         <!-- Inicio da tabela-->
        <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
            class="elevation-1"
            isDescending= "true"
            >
            
            <template slot="items" slot-scope="props">
                <td class="text-xs-center">{{ props.item.quantidadeVotos }}</td>
                <td class="text-xs-center">{{ props.item.codigoProcesso }}</td>
                <td class="text-xs-right">{{ props.item.nomeProduto }}</td>
                <td class="text-xs-right">{{ props.item.descricao }}</td>
                <td class="text-xs-right">{{ props.item.dataAbertura | moment("DD/MM/YYYY HH:MM:SS") }}</td>
                <td class="text-xs-center">
                  <v-chip v-show="!props.item.votei" @click="abrirModalVoto(props.item)"
                    color="indigo"
                    outline
                  > Votar
                  </v-chip>
                  <v-tooltip left nudge-top="55">
                    <template v-slot:activator="{ on }">
                      <v-icon v-on="on" v-show="props.item.votei" color="yellow" left >star</v-icon>
                    </template>
                    <span>Voto efetuado: {{ props.item.dataEfetivacaoVoto | moment("DD/MM/YYYY HH:MM:SS") }}</span>
                    <br><span>Comentario: {{ props.item.comentario }}</span>
                  </v-tooltip>
                
                </td>
            </template>

        </v-data-table>
    </div>
    </v-app>
  </div>

</template>

<script>
import api from '@/api/recursos'
export default {
    props: ['usuario'],
  data: () => ({
    msg:"Página de votação",
    comentario:'',
    titletable: 'Recursos x Votações',
    dialog: false,
    search: '',
    headers: [
      { text: 'Quantidade de Votos', align: 'center', sortable: true, isDescending:true, value: 'quantidadeVotos' },
      { text: 'Código do Processo', align: 'center', value: 'codigoProcesso'  },
      { text: 'Produto', align: 'right', value: 'nomeProduto'  },
      { text: 'Descrição', align: 'right', value: 'descricao'  },
      { text: 'Data de Abertura', align: 'center', value: 'dataAbertura'},
      { text: '', value: ''}
    ],
    desserts: [],
    dessertsBkp:[],
    editedIndex: -1,
    editedItem: {
      recursoId: 0,
      codigoProcesso: '',
      nomeProduto:'',
      descricao:'',
      detalhes:'',
      votei:'',
      quantidadeVotos: 0,
      dataAbertura: '',
      comentario:'',
      dataEfetivacaoVoto:''
    },
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    timeout: 6000,
    text: '',
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Cadastrar novo recurso' : 'Votar no recurso'
    },
    obterUsuario: function () {
        return this.usuario;
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  mounted() {
    this.inicializer(); 
  },
  methods: {
    inicializer(){
      api.obterVotacoes()
        .then((dados) => { 
          //TODO: Fiz desta forma pois estava dando erro no DataTable.
          //Como não tinha muito tempo para fazer a tarefa, tive que deixar assim, melhorar este código assim que possível!
          var listaDeResumos =[];
          listaDeResumos = dados.map((e) =>{
            return {
                  quantidadeVotos: e.quantidadeVotos,
                  recursoId: e.recurso.id,
                  codigoProcesso: e.recurso.codigoProcesso,
                  nomeProduto: e.recurso.nomeProduto,
                  descricao: e.recurso.descricao,
                  detalhes: e.recurso.detalhes,
                  votei: e.votei,
                  dataAbertura: e.recurso.dataAbertura,
                  comentario: e.comentario,
                  dataEfetivacaoVoto: e.dataEfetivacaoVoto 
            }
          });

          this.desserts = listaDeResumos.sort((a, b) =>   a[1] - b[1]);  
        });
    },
    abrirModalVoto (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    obterDataHora(){
        var dNow = new Date();
        return dNow.getDate() + '/' + (dNow.getMonth()+1) + '/' + dNow.getFullYear() + ' ' + dNow.getHours() + ':' + dNow.getMinutes();
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    votar () {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        this.editedItem.votei = true;
        this.desserts.push(this.editedItem)
      }

      let dados = {
        item: this.editedItem,
        comentario: this.comentario,
        usuario: this.obterUsuario,
        dataHoraVoto: this.obterDataHora()
      }

      if(!this.comentario){
        this.text = 'Informe um comentário'
        this.snackbar = true;
        return;
      }

      api.gravar(dados).then((response) => {
          if(response.status == 200){
            this.text = 'Voto efetuado com sucesso!'
            this.snackbar = true;
          }
          
          this.close();
          this.inicializer();

      }).catch((response) => {
          this.text = 'Não foi possível efetuar o voto :('
          this.snackbar = true;
      });
    }
  }
}
</script>

<style lang="scss" scoped>

$cor_primaria: #3F51B5;
$cor_fundo: #F9F9F9;
$cor_teste: rgb(39,126,213);

%principal{
  background-color: $cor_primaria !important;
  color: $cor_fundo !important;
}
.color-title{
  @extend %principal;
}
.btn-modal{
  color: $cor_primaria
}
.btn-principal{
   @extend %principal;
}

</style>


